@model IEnumerable<Student>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Manage Students</h3>

    <a asp-action="Create" class="btn btn-success">
        Add Student
    </a>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th class="text-center">Delete</th>
            <th class="text-center">Edit</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.User?.FullName</td>
                <td>@s.User?.Email</td>
                <td>@s.Course?.CourseName</td>

                <!-- DELETE -->
                <td class="text-center">
                    <a asp-action="Delete"
                       asp-route-id="@s.StudentId"
                       class="text-danger fs-5"
                       title="Delete">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>

                <!-- EDIT -->
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@s.StudentId"
                       class="btn btn-sm btn-outline-warning me-1">
                        <i class="bi bi-pencil"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
